body {
    background-color: #E5E6E8;
    font-family: 'Bree Serif', serif;
}

.wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 10px 14px 32px 10px rgba(0.15, 0.15, 0.15, 0.15);
    background-color: #DEDFE1;

}

.image {
    float: left;
    height: 420px;
    width: 327px;
    object-fit: contain;
  }

.shoe-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #1992BD;
    color: #E2E3E5;
}

.shoe-text {
    width: 300px;
    height: 200px;
}

.shoe-text h1 {
    margin: 20px 0 0px 30px;
}

.shoe-text h2 {
    margin: 0px 0px 5px 30px;
}

.shoe-text dt {
    margin: 20px 0px 20px 30px;
    font-size: 14px;
}


.shoe-info h1, h2{
    color: black;
}

.shoe-price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shoe-price p {
    font-size: 30px;
}

.shoe-size {
    margin-left: 30px;
    color: black;
}

.shoe-size h3 {
    font-size: 20px;
}

.shoe-size button {
    font-weight: bold;
    border: 1px solid #1992BD;
    padding: 10px 15px;
}

.shoe-size button:nth-of-type(5) {
    cursor: not-allowed;
    opacity: 0.6;
}

.shoe-size button:nth-of-type(6) {
    cursor: not-allowed;
    opacity: 0.6;
}

.shoe-size button:nth-of-type(2) {
    cursor: not-allowed;
    opacity: 0.6;
}

.shoe-size button:hover {
    background-color: #E2E3E5;
}

.shoe-size button:focus {
    background-color: #7D7D7D;}


.shoe-price button {
    line-height: 20px;
    padding: 10px 20px;
    border: 1px solid #1992BD;
    border-radius: 10px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}

.shoe-price button:hover {
    background-color: #E2E3E5;
}

.shoe-price button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@media (max-width: 1280px) {
    .image {
        width: 300px;
    }
    .wrapper {
        width: 300px;
    }
    .shoe-info {
        width: 300px;
        height: fit-content;
    }
}
